@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
       url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;

  background-color: #E5E5E5;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-conteiner {
  flex-grow: 1;
}

a {
  color: inherit;
}

img {
  object-fit: contain;
}

.page-header {
  display: grid;
  grid-template-columns: min-content auto 306px;
  width: 1060px;
  margin: 0;
  padding: 0 70px;
}

.site-logo {
  z-index: 1;

  margin-right: 47px;
}

.logo {
  display: block;
  margin-bottom: -10px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;

  font-weight: 700;

  list-style-type: none;
}

.navigation-main {
  font-size: 20px;
  line-height: 26px;
}

.navigation-user {
  justify-content: end;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.navigation-main .navigation-item {
  margin-right: 35px;
}

.navigation-link {
  display: block;
  padding: 20px 0 19px 0;
}

.navigation-main .navigation-link {
  text-decoration: none;
}

.navigation-link[href]:hover {
  color: #756257;
}

.navigation-link[href]:focus {
  outline-offset: -1px;
}

.navigation-link[href]:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-user .navigation-link {
  position: relative;

  width: 42px;

  color: #000000;
}

.favorite-counter {
  position: absolute;
  top: 3px;
  right: -2px;

  width: 19px;
  height: 19px;
  padding: 2px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;

  background-color: #7db550;
  border-radius: 50%;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  z-index: 1;
  
  display: block;
  
  border-bottom: 3px solid #756257;

  content: "";
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  fill: #000000;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link:active .favorite-counter {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button {
  width: 160px;
  margin-left: 20px;
  padding: 9px 15px;

  background-color: #756257;
}

.button {
  display: inline-block;
  box-sizing: border-box;

  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.navigation-button:hover {
  background-color: #615048;
}

.navigation-button:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: -2px;
}

.navigation-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #615048;
}

.main-page-index {
  text-align: center;
}

.main-page-info {
  margin-bottom: 80px;
}

.welcome {
  min-height: 485px;
  margin-bottom: 63px;

  background-color: #83B3D3;
  background-image:
  url(../img/welcome-decor.svg), 
  url(../img/welcome-info.svg),
  url(../img/background-welcome.jpg);
  background-size:
  100% auto,
  auto auto,
  cover;
  background-position:
  50% 100%,
  50% calc(50% - 16px),
  50% 50%;
  background-repeat: no-repeat;
}

.welcome-info {
  width: 720px;
  margin: 0 auto;
}

.welcome-title {
  margin: 0 0 31px 0;
  box-sizing: border-box;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.welcome-description {
  margin: 0;

  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: #333333;
}

.advantages {
  margin-bottom: 90px;

  font-family: inherit;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantages-item {
  display: grid;
  min-height: 384px;

  counter-increment: advantages-number;
}

.advantages-item:nth-of-type(2n+4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-large {
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-column: 1 / -1;

  background-color: #83B3D3;
}

.city-picture {
  display: block;
  grid-column: span 2;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.first-advantage-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / -1;
  min-height: 384px;
  margin: 0;
  padding: 0;

  list-style-type: none;

  background-color: #ffffff;
}

.first-advantage-item {
  display: grid;
  grid-column: span 1;
  gap: 20px;
  padding: 184px 60px 60px;
  align-content: start;

  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
}

.first-advantage-item:nth-child(even) {
  background-color: #ffffff;
}

.item-house {
  background-image: url(../img/house-icon.svg);
  background-size: 75px 73px;
  background-position: 50% 88px;
}

.item-food {
  background-image: url(../img/food-icon.svg);
  background-size: 74px 71px;
  background-position: 50% 90px;
}

.item-souvenirs {
  background-image: url(../img/souvenirs-icon.svg);
  background-size: 64px 76px;
  background-position: 50% 85px;
}

.advantages-description {
  display: grid;
  gap: 30px;
  align-content: start;
  padding: 97px 60px 0 60px;
}

.advantages-description::before {
  content: "— №" counter(advantages-number) " —";

  order: 2;

  box-sizing: border-box;
}

.advantages-item-large .advantages-description .advantages-title {
  color: #ffffff;
}

.advantages-item-large .advantages-description .advantages-text {
  color: #ffffff;
}

.advantages-item-large .advantages-description::before {
  color: #ffffff;
}

.advantages-title {
  order: 1;

  margin: 0;
  padding: 0 20px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  order: 3;

  margin: 0;
  padding: 0 15px;

  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.search {
  width: 720px;
  margin: 0 auto 95px;
  padding: 0;
}

.search-title {
  margin: 0 0 29px 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  margin: 0 0 55px 0;

  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.search-button {
  margin: 0 auto;
  padding: 15px 150px 9px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;

  background-color: #756257;
  border-radius: 10px;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: -2px;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #615048;
}

.subscribe {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.subscribe-inner {
  padding: 73px 0 141px 0;
}

.subscribe-index {
  padding: 93px 0;

  background-color: #83B3D3;
  background-image: url(../img/background-subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin: 0 0 29px 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-description {
  margin: 0 0 46px 0;

  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
}

.email-form {
  width: 600px;
  height: 58px;
  padding-left: 22px;

  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;

  background-color: #F2F2F2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.email-form:hover {
  background-color: #E6E6E6;
}

.email-form:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.email-form:not(:placeholder-shown):focus:invalid {
  background-color: #ffffff;
  outline: 2px solid #ff5757;
  outline-offset: -2px;
}

.email-button {
  flex-grow: 2;
  width: 205px;
  padding: 17px 23px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  background-color: #83B3D3;
  border-radius: 0 10px 10px 0;
}

.email-button:hover {
  background-color: #68a2ca;
}

.email-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.email-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68a2ca;
  outline: none;
}

.page-footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  margin: 0;
  padding: 40px 70px;
  gap: 30px;
  align-items: center;
}

.social-icons-list {
  display: flex;
  flex-wrap: wrap;
  margin: -2px 0 0 1px;
  padding: 0;

  list-style-type: none;
}

.social-icons-item {
  margin-right: 24px;
}

.social-icon {
  fill: #83B3D3;
}

.social-link {
  display: grid;
  width: 20px;
  height: 20px;
  place-content: center;

  border-radius: 1px;
}

.social-link:hover .social-icon {
  fill: #68a2ca;
}

.social-link:focus .social-icon {
  fill: #68a2ca;
}

.social-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 7px;
}

.social-link:active .social-icon {
  fill: #68a2ca;
}

.social-link:active {
  outline: none;
  opacity: 0.3;
}

.contact-phone {
  display: block;
  max-width: 720px;
  padding: 0;

  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;

  border-radius: 1px;
}

.contact-phone:hover {
  color: #756257;
}

.contact-phone:focus {
  color: #756257;

  outline: 3px solid #83B3D3;
  outline-offset: 10px;
}

.contact-phone:active {
  color: #756257;

  outline: none;
  opacity: 0.3;
}

.academy-link {
  display: grid;
  width: 120px;
  height: 40px;
  margin-left: auto;
  place-content: center;

  border-radius: 1px;
}

.html-logo {
  fill: #000000;
}

.academy-link:hover .html-logo {
  fill: #756257;
}

.academy-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 5px;
}

.academy-link:focus .html-logo {
  fill: #756257;
}

.academy-link:active {
  outline: none;
  opacity: 0.3;
}

.academy-link:active .html-logo {
  fill: #756257;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;

  display: flex;
  place-content: center;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-closed {
  display: none;
}

.modal-content {
  position: relative;

  max-width: 715px;
  margin: auto;
  padding: 60px 70px 70px;

  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-button-close {
  position: absolute;
  top: 54px;
  right: 70px;
  
  width: 53px;
  height: 53px;

  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.modal-button-close-icon {
  position: absolute;
  top: 20px;
  left: 20px;

  fill: #000000;
}

.modal-button-close:hover {
  background-color: #E6E6E6;
}

.modal-button-close:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-button-close:active {
  background-color: #E6E6E6;
  outline: none;
}

.modal-button-close:active .modal-button-close-icon {
  fill: rgba( 0, 0, 0, 0.3);
}

.modal-title {
  margin: 0 0 61px;
  padding: 0;

  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-search-form {
  display: grid;
  grid-template-columns: 155px 133px 154px 133px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.title-date-form {
  position: relative;

  grid-column: 1 / 2;
  align-self: center;

  cursor: pointer;
}

.title-count-form {
  align-self: center;

  cursor: pointer;
}

.date-input {
  grid-column: 2 / -1;
  width: 100%;
  margin: 0;
  padding: 3px 19px;
  box-sizing: border-box;
  
  font: inherit;
  
  background-color: #F2F2F2;
  border: 2px solid transparent;
  border-radius: 4px;
  background-image: url(../img/date-icon.svg);
  background-repeat: no-repeat;
  background-position: right 20px top 50%;
  appearance: none;

  cursor: pointer;
}

.date-input:hover {
  background-color: #E6E6E6;
}

.date-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.date-input:not(:placeholder-shown):focus {
  background-color: #ffffff;
  border: 2px solid #000000;
  outline: none;
}

.modal-message {
  grid-column: 2 / -1;
  margin: -5px 0 5px 0;

  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #333333;
}

.message-error {
  color: #ff5757;
}

.number-field {
  position: relative;
  z-index: 0;

  display: grid;
  grid-template-columns: 50px 1fr 50px;
  min-width: 133px;
  height: 50px;

  outline: none;
}

.counter-input {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  margin: 0;
  padding: 0 50px;

  font: inherit;
  text-align: center;
  
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  outline: none;
  appearance: textfield;

  cursor: pointer;
}

.counter-input::-webkit-outer-spin-button,
.counter-input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

.number-button {
  position: relative;
  z-index: 1;

  display: grid;
  grid-row: 1 / 2;
  padding: 0;
  place-content: center;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;
}

.button-count-less {
  grid-column: 1 / 2;
}

.button-count-more {
  grid-column: -2 / -1;
}

.number-button::after {
  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  opacity: 0.3;

  content: "";
}

.button-count-less::after {
  background-image: url(../img/counter-less-icon.svg);
}

.button-count-more::after {
  background-image: url(../img/counter-more-icon.svg);
}

.number-button:hover::after {
  opacity: 1;
}

.number-button:focus::after {
  outline: 3px solid #83B3D3;
  outline-offset: -4px;
  opacity: 1;
}

.number-button:active::after {
  outline: none;
  opacity: 0.2;
}

.title-counter-wrapper {
  display: flex;
  justify-content: flex-end;
}

.tooltip {
  position: relative;

  width: 25px;
  height: 25px;
  margin: 2px 19px 0 10px;
  align-self: center;

  background-color: #83B3D3;
  background-image: url(../img/info-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.tooltip-text {
  position: absolute;
  top: 40px;
  left: calc(50% - 128px);

  display: none;
  width: 256px;
  margin: 0;
  padding: 21px;
  box-sizing: border-box;

  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

.tooltip-text::before {
  position: absolute;
  top: -10px;
  left: 122px;
  transform-origin: 0;
  transform: rotate(45deg);

  display: block;
  width: 15px;
  height: 15px;

  background-color: #333333;

  content: "";
}

.tooltip:hover {
  background-color: #68a2ca;
}

.tooltip:hover .tooltip-text {
  display: block;
}

.modal-submit-button {
  grid-column: 1 / -1;
  margin-top: 40px;
  padding: 10px;

  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #83B3D3;
  border: none;
  border-radius: 10px;
}

.modal-submit-button:hover {
  background-color: #68a2ca;
}

.modal-submit-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.modal-submit-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68a2ca;
  outline: none;
}

.inner-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
  padding: 35px 70px 82px 70px;

  color: #ffffff;

  background-color: #83B3D3;
  background-image: url(../img/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.inner-title {
  margin: 0;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  margin: -7px 0 46px 3px;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 8px;
  right: -21px;

  width: 10px;
  height: 10px;

  background-image: url("../img/breadcrumbs-icon.svg");
  background-repeat: no-repeat;

  content: "";
}

.breadcrumbs-item:last-of-type::after {
  content: none;
}

.breadcrumbs-link {
  position: relative;

  display: grid;
  min-width: 12px;
  min-height: 12px;
  place-content: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.breadcrumbs-link[href]:hover {
  opacity: 0.6;
}

.breadcrumbs-link[href]:focus {
  outline-color: #83B3D3;
  outline-offset: 5px;
}

.breadcrumbs-link[href]:active {
  outline: none;
  opacity: 0.3;
}

.breadcrumbs-icon {
  position: absolute;

  margin: 5px auto;

  fill: #ffffff;
}

.filters-form {
  display: grid;
  grid-template-columns: max-content max-content min-content max-content;
  gap: 65px;
  align-content: flex-start;
  margin: 0;

  color: #ffffff;
}

.catalog-filters-field {
  max-width: 155px;
  margin: 0;
  padding: 0;

  border: none;
}

.filters-price {
  max-width: 287px;
  margin: 0 15px 0 104px;
}

.catalog-filter-title {
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filters-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 23px;
  font-weight: 400;

  list-style-type: none;
}

.catalog-filters-item:not(:last-of-type) {
  margin-bottom: 13px;
}

.control-label {
  padding-left: 40px;

  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.control {
  position: relative;

  display: block;

  cursor: pointer;
}

.control-label::before {
  position: absolute;
  top: 0;
  left: 2px;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: 4px;

  content: "";
}

.control-item-check:checked + .control-label::after {
  position: absolute;
  top: 6px;
  left: 6px;

  width: 15px;
  height: 15px;

  background-image: url(../img/check-mark.svg);
  background-repeat: no-repeat;
  background-size: auto;

  content: "";
}

.control-item-check:hover + .control-label::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-item-check:focus + .control-label::before {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3
}

.control-item-check:active + .control-label::before {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.control-item-radio + .control-label::before {
  border-radius: 50%;
}

.control-item-radio:checked + .control-label::after {
  position: absolute;
  top: 0;
  left: 2px;

  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 50%;

  content: "";
}

.control-item-radio:checked:focus + .control-label::before {
  outline: 3px solid #83B3D3;
}

.control-item-radio:active + .control-label::before {
  outline: none;
}

.range-inputs {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 28px;
  margin-top: 5px;
}

.range-inputs::before {
  position: absolute;
  left: 50%;

  height: 96%;
  margin-left: -1px;

  border: 1px solid #ffffff;

  content: "";
}

.catalog-filters-label {
  display: grid;
  grid-template-columns: 44px 1fr;
  height: 45px;
  padding-left: 15px;
  align-self: center;

  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filters-label:first-of-type {
  margin-right: 1px;

  border: 2px solid #ffffff;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.catalog-filters-label:last-of-type {
  margin-left: 1px;
  padding-left: 13px;

  border: 2px solid #ffffff;
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.catalog-filters-input {
  width: 100%;

  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;

  background-color: transparent;
  border: none;
  outline: none;
  appearance: textfield;
}

.catalog-filters-input::-webkit-outer-spin-button,
.catalog-filters-input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

 .catalog-filters-label:hover,
 .range-inputs:hover::before {
  border-color: rgba(255, 255, 255, 0.6);
}

.catalog-filters-label:focus-within {
  box-shadow:
  0 0 0 3px #68a2ca,
  inset 0 0 0 3px #68a2ca;
}

.catalog-filters-label:active {
  background-color: #756257;
  box-shadow: none;
  outline: none;
}

.range-title {
  align-self: center;
  padding-left: 50px;
  overflow: auto;
}

.range-scale {
  position: relative;

  width: 287px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;

  height: 4px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.filters-buttons {
  display: flex;
  flex-direction: column;
  width: 160px;
  padding-top: 60px;
}

.submit-button {
  margin-bottom: 15px;
  padding: 14px 16px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;

  background-color: #83B3D3;
}

.submit-button:hover {
  background-color: #68a2ca;
}

.submit-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #ffffff;
}

.submit-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68a2ca;
  outline: none;
}

.clear-button {
  padding: 3px 14px;
  align-self: center;

  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-transform: none;
  color: #ffffff;

  background-color: initial;
}

.clear-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.clear-button:focus {
  outline: 3px solid #68a2ca;
}

.clear-button:active {
  color: rgba(255, 255, 255, 0.3);

  outline: none;
}

.catalog-header {
  display: grid;
  grid-template-columns: max-content min-content max-content;
  align-items: center;
  justify-content: space-between;
  max-width: 1060px;
  margin: 0 0 51px;
}

.catalog-search {
  margin: 0 115px 0 0;
  max-width: 440px;
  overflow: auto;

  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-sorting-type {
  position: relative;

  display: flex;
  align-items: center;
  min-width: 287px;
}

.catalog-sorting-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  max-width: 216px;
  margin: 0 2px 0 0;
  padding: 0;

  list-style-type: none;
}

.catalog-sorting-type {
  width: 100%;
  padding: 10px 17px;

  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;

  background-image: url(../img/sorting-mark.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  appearance: none;

  user-select: none;
  cursor: pointer;
}

.catalog-sorting-type:hover {
  border-color: #83B3D3;
}

.catalog-sorting-type:focus {
  border-color: #83B3D3;
  outline: none;
}

.catalog-sorting-type:active {
  color: #E6E6E6;

  border-color: #E6E6E6;
}

.catalog-view-item + .catalog-view-item {
  margin-left: 9px;
}

.catalog-view-item:nth-of-type(5n) {
  margin-left: 0;
}

.catalog-view-item {
  margin-bottom: 4px;
}

.catalog-view-button {
  position: relative;

  display: block;
  width: 44px;
  height: 44px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-cards {
  background-image: url(../img/mode-cards.svg);
}

.view-slides {
  background-image: url(../img/mode-slides.svg);
}

.view-list {
  background-image: url(../img/mode-list.svg);
}

.view-item-selected .catalog-view-button {
  border-color: #000000;
}

.catalog-view-button[href]:hover {
  border-color: #83B3D3;
}

.catalog-view-button[href]:focus {
  border-color: #83B3D3;
  outline: none;
}

.catalog-view-button:active {
  border-color: #000000;
  outline: none;
}

.view-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  fill: #000000;
}

.catalog-items {
  margin: 0;
  padding: 0 70px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  gap: 10px 18px;
  margin: 0 0 65px 0;
  padding: 0;

  list-style-type: none;
}

.product-item {
  display: grid;
  grid-template-columns: 1fr 26px 142px;
  grid-template-rows: repeat(4, min-content);
  gap: 16px 0;
  width: 300px;
  padding: 20px;
}

.product-link {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  text-decoration: none;
}

.product-card-head  {
  order: 2;

  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.product-card-image {
  order: 1;

  display: block;
  margin-bottom: 16px;
}

.product-link:hover .product-card-image {
  opacity: 0.6;
}

.product-link:focus {
  outline: none;
}

.product-link:focus .product-card-image {
  outline: 3px solid #83B3D3;
}

.product-link:active .product-card-image {
  outline: none;
  opacity: 0.3;
}

.hotel-class {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.hotel-price {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.button-more {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 8px 15px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;

  background-color: #756257;
}

.button-more:hover {
  background-color: #615048;
}

.button-more:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #615048;
  outline: none;
}

.button-favorites {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  padding: 8px 15px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;

  background-color: #83B3D3;
}

.button-favorites:hover {
  background-color: #68a2ca;
}

.button-favorites:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.button-favorites:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68a2ca;
  outline: none;
}

.button-favorites-selected {
  background-color: #7DB54F;
}

.button-favorites-selected:hover {
  background-color: #6c9e42;
}

.button-favorites-selected:focus {
  background-color: #6c9e42;
}

.button-favorites-selected:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #6c9e42;
  outline: none;
}

.hotel-star {
  grid-column: 1 / 2;
  grid-row: 4 / 5;

  width: 25px;
  margin: 0 0 0 -5px;

  background-image: url(../img/star-icon.svg);
  background-repeat: space no-repeat;
  background-position: 0 50%;
  background-size: 25px 17px;
}

.two-stars {
  width: 51px;
}

.three-stars {
  width: 75px;
}

.four-stars {
  width: 100px;
}

.five-stars {
  width: 125px;
}

.hotel-rate {
  display: block;
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  box-sizing: border-box;
  padding: 8px 32px;

  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #333333;

  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
}

.product-list-show-more {
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 17px 238px;

  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;

  background-color: #83B3D3;
}

.product-list-show-more:hover {
  background-color: #68a2ca;
}

.product-list-show-more:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.product-list-show-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68a2ca;
  outline: none;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 630px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.pagination-item {
  display: flex;
  width: 55px;
  height: 55px;

  color: #ffffff;

  background-color: #83B3D3;
  border-radius: 4px;
}

.pagination-link {
  display: block;
  padding: 14px 22px;
  box-sizing: border-box;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  
  border-radius: 4px;
}

.pagination-item:last-child .pagination-link {
  padding: 14px 16px;
}

.pagination-item:nth-child(5) .pagination-link {
  padding: 14px 20px;
}

.pagination-link[href]:hover {
  background-color: #68a2ca;
}

.pagination-link[href]:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.pagination-link[href]:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68a2ca;
  outline: none;
}

.pagination-link-current {
  color: #000000;

  background-color: #F2F2F2;
}

.quantity-select-label {
  margin: 0 50px 0 0;

  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.product-card-select {
  position: relative;

  display: flex;
  align-items: center;
  width: 386px;
}

.product-card-quantity {
  width: 160px;
  height: 48px;
  padding: 10px 16px;

  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;

  background-image: url(../img/sorting-mark.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  
  appearance: none;
  user-select: none;
  cursor: pointer;
}

.product-card-quantity:hover {
  border-color: #83B3D3;
}

.product-card-quantity:focus {
  border-color: #83B3D3;
  outline: none;
}

.product-card-quantity:active {
  color: #E6E6E6;

  border-color: #E6E6E6;
}

.subscribe-title-different {
  margin-bottom: 46px;

  color:#000000;
}

.subscribe-description-different {
  margin: 0 0 45px 0;

  color: #333333;
}
