@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       url("/Site_Sedona/fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
       url("/Site_Sedona/fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: #E5E5E5;
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-conteiner {
  flex-grow: 1;
  margin-bottom: 40px;
}

a {
  color: inherit;
}

.page-header {
  display: grid;
  grid-template-columns: min-content auto 322px;
  width: 1060px;
  margin: 0;
  padding: 0 70px;
}

.logo {
  display: block;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 700;
}

.navigation-main {
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.navigation-main .navigation-link {
  display: block;
  padding: 20px 17px;
  text-decoration: none;
}

.navigation-icon {
  display: block;
  width: 42px;
  height: 42px;
  color: #000000;
  outline: 1px solid red;

}

.navigation-button {
  display: block;  
  text-decoration: none;
}

.navigation-item + .button {
  margin-left: 20px;
}

.main-page-index {
  text-align: center;
}

.main-page-info {
  margin-bottom: 80px;
}

.welcome {
  background-image: url(/Site_Sedona/img/background-welcome.jpg);
  background-size: 1200px 100%;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  padding: 51px 0 82px 0;
  margin-bottom: 63px;
}

.welcome-picture {
  display: block;
  margin: 0 auto;
}

.welcome-info {
  width: 720px;
  margin: 0 auto;
}

.welcome-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}

.welcome-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin: 0;
}

.advantages {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 92px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3,400px);
  grid-template-rows: repeat(4, 384px);
  grid-template-areas: 
  "first second second"
  "third fourth fifth"
  "sixth sixth seventh"
  "eighth ninth tenth";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item:nth-of-type(1) {
  grid-area: first;
  padding: 98px 90px 0 90px;
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-item:nth-of-type(2) {
  grid-area: second;
  background-color: #83B3D3;
}

.advantages-item:nth-of-type(3) {
  grid-area: third;
  padding: 85px 75px 0 75px;
  background-color: rgba(131, 179, 211, 0.12);
}
/*
.advantages-item:nth-of-type(3)::before {
  content: url(/Site_Sedona/img/icon-1.svg);
  display: block;
} */

.advantages-item:nth-of-type(4) {
  grid-area: fourth;
  padding: 85px 75px 0 75px;
}

.advantages-item:nth-of-type(5) {
  grid-area: fifth;
  padding: 85px 75px 0 75px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-of-type(6) {
  grid-area: sixth;
}

.advantages-item:nth-of-type(7) {
  grid-area: seventh;
  padding: 98px 90px 0 90px;
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-item:nth-of-type(8) {
  grid-area: eighth;
  padding: 98px 90px 0 90px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-of-type(9) {
  grid-area: ninth;
  padding: 98px 90px 0 90px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-of-type(10) {
  grid-area: tenth;
  padding: 98px 90px 0 90px;
  background-color: rgba(131, 179, 211, 0.12);
}

.first-advantage-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-description {
  margin: 0;
  padding: 0;
}

.advantages-number {
  color: inherit;
  margin: 0;
  margin-bottom: 30px;
}

.city-picture {
  display: block;
  margin: 0;
  width: 800px;
  height: 384px;
  object-fit: cover;
}

.advantage-icon {
  display: block;
  margin: 0 auto;
}

.search {
  width: 720px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 92px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px 0;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 0 56px 0;
}

.search-button {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  width: 575px;
  margin: 0 auto;
  text-decoration: none;
}

.subscribe {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.subscribe-inner {
  padding: 73px 0 141px 0;
}

.subscribe-index {
  background-image: url(/Site_Sedona/img/background-subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #83B3D3;
  padding: 94px 0;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 0 29px 0;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 0 46px 0;
}

.subscribe-form {
  height: 60px;
}

.email-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.page-footer {
  display: grid;
  grid-template-columns: 270px auto 115px;
  margin: 0;
  padding: 0 70px;
  margin-bottom: 40px;
  gap: 120px;
}

.social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.contact-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.social-icons-item {
  margin-bottom: 10px;
}

.social-icons-item:not(:nth-of-type(7n)) {
  margin-right: 10px;
}

.social-link {
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 5px;
  outline: 1px solid red;
}

.html-logo {
  display: block;
}

.inner-header {
  color: #ffffff;
  background-image: url(/Site_Sedona/img/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #83B3D3;
  padding: 35px 70px 83px 70px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 5px 0;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 45px;
}

.breadcrumbs-item:not(:last-of-type) {
  margin-right: 30px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filters {
  color: #ffffff;
  display: grid;
  grid-template-columns: min-content min-content auto min-content;
  margin: 0;
  gap: 50px;
}

.catalog-filters-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.catalog-filters-item:not(:last-of-type) {
  margin-bottom: 15px;
}

.catalog-filters-infrastructure {
  width: 167px;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filters-house-type {
  width: 144px;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filters-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filters-price {
  width: 290px;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  border: none;
  justify-self: end;
}

.catalog-filters-input {
  width: 110px;
}

.filters-buttons {
  width: 160px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.catalog-header {
  display: grid;
  grid-template-columns: max-content auto max-content;
  margin: 0;
  margin-bottom: 53px;
  align-items: center;
}

.catalog-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
}

.catalog-sorting-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-right: 80px;
  justify-self: end;
}

.catalog-sorting-view {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 216px;
}

.catalog-view-item:not(:nth-of-type(4n)) {
  margin-right: 8px;
}

.catalog-view-item {
  margin-bottom: 8px;
}

.catalog-view-button {
  display: block;
  width: 48px;
  height: 48px;
  outline: 1px solid red;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  margin-bottom: 20px;
  border: none;
}

.clear-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: initial;
  color: #ffffff;
  align-self: center;
  border: none;
}

.catalog-items {
  margin: 0;
  padding: 0 70px;
}

.catalog-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}

.catalog-sorting-value {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-sorting-view {
  list-style-type: none;
}

.product-item {
  display: grid;
  width: 300px;
  grid-template-columns: 133px 140px;
  grid-template-rows: 206px min-content min-content min-content auto;
  gap: 16px 26px;
  padding: 20px;
}

.product-link {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.product-link-picture {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.hotel-class {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-price {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;

}

.button-more {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.button-favorites {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

}

.hotel-rate {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.product-card-head {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
}

.product-card-image {
  display: block;
}

.product-list {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 18px 10px;
}

.button-container {
  margin-bottom: 60px;
}

.product-list-show-more {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: block;
  width: 620px;
  margin: 0 auto;
}

.pagination-container {
  display: flex;
  align-items: center;
}

.pagination-list {
  display: flex;
  margin: 0 auto 0 0;
  padding: 0;
  list-style-type: none;
}

.quantity-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 0 50px 0 0;
}

.pagination-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #83B3D3;
  display: block;
  width: 55px;
  height: 55px;
}

.pagination-item:not(:last-of-type) {
  margin-right: 5px;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.product-card-quantity {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  width: 160px;
}

.subscribe-title-different {
  color:#000000
}

.subscribe-description-different {
  color: #333333;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.button-blue {
  background-color: #83B3D3;
}

.button-brown {
  background-color: #756257;
}

.button-gray {
  background-color: #F2F2F2;
}

.button-green {
  background-color: #7DB54F;
}
