@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
       url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: #E5E5E5;
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-conteiner {
  flex-grow: 1;
  margin-bottom: 30px;
}

a {
  color: inherit;
}

.page-header {
  display: grid;
  grid-template-columns: min-content auto 322px;
  width: 1060px;
  margin: 0;
  padding: 0 70px;
}

.site-logo {
  z-index: 1;
  margin-right: 47px;
}

.logo {
  display: block;
  margin-bottom: -10px;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 700;
}

.navigation-main {
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.navigation-main .navigation-link {
  display: block;
  padding: 20px 0;
  margin-right: 34px;
  text-decoration: none;
}

.navigation-link[href]:hover {
  color: #756257;
}

.navigation-link[href]:focus {
  outline-offset: -1px;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-user .navigation-link {
  position: relative;
  display: block;
  width: 42px;
  padding: 20px 0;
  color: #000000;
}

.favorite-counter {
  position: absolute;
  box-sizing: border-box;
  top: 3px;
  right: -2px;
  width: 19px;
  height: 19px;
  font-family: inherit;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  background-color: #7db550;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  padding: 2px;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 3px solid #756257;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link:active .favorite-counter {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button {
  width: 160px;
  margin-left: 20px;
  background-color: #756257;
}

.button {
  display: inline-block;
  color: #ffffff;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 15px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.navigation-button:hover {
  background-color: #615048;
}

.navigation-button:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: -2px;
}

.navigation-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.main-page-index {
  text-align: center;
}

.main-page-info {
  margin-bottom: 80px;
}

.welcome {
  background-image: url(../img/background-welcome.jpg);
  background-size: 1200px 100%;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  padding: 51px 0 82px 0;
  margin-bottom: 63px;
  position: relative;
}

.welcome::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url(../img/welcome-decor.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 428px;
  right: 0;
  bottom: 0;
  left: 0;
}

.welcome-picture {
  display: block;
  margin: 0 auto;
}

.welcome-info {
  width: 720px;
  margin: 0 auto;
}

.welcome-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}

.welcome-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin: 0;
}

.advantages {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 90px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3,400px);
  grid-template-rows: repeat(4, 384px);
  grid-template-areas: 
  "first second second"
  "third fourth fifth"
  "sixth sixth seventh"
  "eighth ninth tenth";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item:nth-of-type(1) {
  grid-area: first;
  padding: 98px 95px 0 95px;
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-item:nth-of-type(2) {
  grid-area: second;
  background-color: #83B3D3;
}

.advantages-item:nth-of-type(3) {
  grid-area: third;
  padding: 184px 110px 0 110px;
  background-color: rgba(131, 179, 211, 0.12);
  position: relative;
}

.advantages-item:nth-of-type(3)::before {
  content: url(../img/icon-1.svg);
  display: block;
  position: absolute;
  left: 163px;
  top: 88px;
}

.advantages-item:nth-of-type(4) {
  grid-area: fourth;
  padding: 184px 85px 0 85px;
  position: relative;
}

.advantages-item:nth-of-type(4)::before {
  content: url(../img/icon-2.svg);
  display: block;
  position: absolute;
  left: 163px;
  top: 90px;
}

.advantages-item:nth-of-type(5) {
  grid-area: fifth;
  padding: 184px 75px 0 75px;
  background-color: rgba(131, 179, 211, 0.12);
  position: relative;
}

.advantages-item:nth-of-type(5)::before {
  content: url(../img/icon-3.svg);
  display: block;
  position: absolute;
  left: 168px;
  top: 84px;
}

.advantages-item:nth-of-type(6) {
  grid-area: sixth;
}

.advantages-item:nth-of-type(7) {
  grid-area: seventh;
  padding: 96px 90px 0 90px;
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-item:nth-of-type(8) {
  grid-area: eighth;
  padding: 96px 85px 0 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-of-type(9) {
  grid-area: ninth;
  padding: 96px 85px 0 85px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-of-type(10) {
  grid-area: tenth;
  padding: 96px 90px 0 90px;
  background-color: rgba(131, 179, 211, 0.12);
}

.first-advantage-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-description {
  margin: 0;
  padding: 0;
}

.advantages-number {
  color: inherit;
  margin: 30px 0 30px 0;
}

.city-picture {
  display: block;
  margin: 0;
  width: 800px;
  height: 384px;
  object-fit: cover;
}

.advantage-icon {
  display: block;
  margin: 0 auto;
}

.search {
  width: 720px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 92px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 28px 0;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 0 56px 0;
}

.search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  margin: 0 auto;
  padding: 12px 150px;
  border-radius: 10px;
  background-color: #756257;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: -2px;
}

.search-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.subscribe-inner {
  padding: 75px 0 141px 0;
}

.subscribe-index {
  background-image: url(../img/background-subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #83B3D3;
  padding: 95px 0;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 0 28px 0;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 0 47px 0;
}

.subscribe-form {
  display: flex;
}

.email-form {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  width: 600px;
  height: 58px;
  border-radius: 10px 0 0 10px;
  background-color: #F2F2F2;
  border: none;
  padding-left: 22px;
}

.email-form:hover {
  background-color: #E6E6E6;
}

.email-form:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.email-form:focus:invalid {
  background-color: #ffffff;
  outline: 2px solid #ff5757;
  outline-offset: -2px;
}

.email-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  border-radius: 0 10px 10px 0;
  padding: 17px 23px;
  width: 205px;
  text-align: center;
  flex-grow: 2;
  background-color: #83B3D3;
}

.email-button:hover {
  background-color: #68a2ca;
}

.email-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.email-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.page-footer {
  display: grid;
  grid-template-columns: 270px max-content 115px;
  margin: 0;
  padding: 0 70px;
  margin-bottom: 30px;
  gap: 95px;
  align-items: center;
}

.social-icons-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-icons-item {
  margin-bottom: 10px;
  margin-top: 5px;
}

.social-icons-item:not(:nth-of-type(6n)) {
  margin-right: 25px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.social-link {
  position: relative;
  display: block;
  min-width: 20px;
  min-height: 20px;
  border-radius: 1px;
}

.social-link:hover .social-icon {
  fill: #68a2ca;
}

.social-link:focus .social-icon {
  fill: #68a2ca;
}

.social-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 7px;
}

.social-link:active .social-icon {
  fill: #68a2ca;
}

.social-link:active {
  outline: none;
  opacity: 0.3;
}

.contact-phone {
  display: block;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 0;
  border-radius: 1px;
}

.contact-phone:hover {
  color: #756257;
}

.contact-phone:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 10px;
  color: #756257;
}

.contact-phone:active {
  opacity: 0.3;
  outline: none;
  color: #756257;
}

.academy-link {
  position: relative;
  display: block;
  width: 115px;
  height: 33px;
  margin-left: 140px;
  padding: 12px;
  border-radius: 1px;
}

.html-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.academy-link:hover .html-logo {
  fill: #756257;
}

.academy-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 5px;
}

.academy-link:focus .html-logo {
  fill: #756257;
}

.academy-link:active {
  outline: none;
  opacity: 0.3;
}

.academy-link:active .html-logo {
  fill: #756257;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 5;
  place-content: center;
}

.modal-container-closed {
  display: none;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  max-width: 715px;
  border-radius: 30px;
  padding: 70px;
  padding-top: 60px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-button-close {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-button-close-icon {
  position: absolute;
  left: 20px;
  top: 20px;
  fill: #000000;
}

.modal-button-close:hover {
  background-color: #E6E6E6;
}

.modal-button-close:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-button-close:active {
  background-color: #E6E6E6;
}

.modal-button-close:active .modal-button-close-icon {
  fill: rgba( 0, 0, 0, 0.3);
}

.modal-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 61px;
  padding: 0;
}

.modal-search-form {
  display: grid;
  grid-template-columns: 155px 133px 154px 133px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.title-date-form {
  cursor: pointer;
  align-self: center;
  grid-column: 1 / 2;
  position: relative;
}

.title-count-form {
  align-self: center;
  cursor: pointer;
}

.date-input {
  grid-column: 2 / -1;
  box-sizing: border-box;
  width: 100%;
  padding: 3px 19px;
  appearance: none;
  margin: 0;
  background-color: #F2F2F2;
  border: 2px solid transparent;
  border-radius: 4px;
  font: inherit;
  cursor: pointer;
  background-image: url(../img/date-icon.svg);
  background-repeat: no-repeat;
  background-position: right 20px top 50%;
}

.date-input:hover {
  background-color: #E6E6E6;
}

.date-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.date-input:not(:placeholder-shown):focus {
  background-color: #ffffff;
  outline: none;
  border: 2px solid #000000;
}

.modal-message {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  grid-column: 2 / -1;
  margin: -5px 0 5px 0;
  color: #333333;
}

.message-error {
  color: #ff5757;
}

.number-field {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  min-width: 133px;
  height: 50px;
  outline: none;
  z-index: 0;
}

.counter-input {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding: 0 50px;
  font: inherit;
  margin: 0;
  text-align: center;
  appearance: textfield;
  cursor: pointer;
  background-color: #F2F2F2;
  border: none;
  outline: none;
  border-radius: 4px;
}

.counter-input::-webkit-outer-spin-button, .counter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.number-button {
  position: relative;
  grid-row: 1 / 2;
  display: grid;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
  place-content: center;
  background-color: transparent;
  outline: none;
}

.button-count-less {
  grid-column: 1 / 2;
}

.button-count-more {
  grid-column: -2 / -1;
}

.number-button::after {
  content: "";
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  opacity: 0.3;
}

.button-count-less::after {
  background-image: url(../img/counter-less-icon.svg);
}

.button-count-more::after {
  background-image: url(../img/counter-more-icon.svg);
}

.number-button:hover::after {
  opacity: 1;
}

.number-button:focus::after {
  opacity: 1;
  outline: 3px solid #83B3D3;
  outline-offset: -4px;
}

.number-button:active::after {
  outline: none;
  opacity: 0.2;
}

.title-counter-wrapper {
  display: flex;
  justify-content: flex-end;
}

.tooltip {
  position: relative;
  width: 25px;
  height: 25px;
  align-self: center;
  background-color: #83B3D3;
  border-radius: 50%;
  margin: 2px 19px 0 10px;
  background-image: url(../img/info-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tooltip-text {
  display: none;
  position: absolute;
  top: 40px;
  left: calc(50% - 128px);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 256px;
  box-sizing: border-box;
  margin: 0;
  background-color: #333333;
  color: #ffffff;
  border-radius: 10px;
  padding: 21px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

.tooltip-text::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #333333;
  top: -10px;
  left: 122px;
  transform-origin: 0;
  transform: rotate(45deg);
}

.tooltip:hover {
  background-color: #68a2ca;
}

.tooltip:hover .tooltip-text {
  display: block;
}

.modal-submit-button {
  grid-column: 1 / -1;
  margin-top: 40px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #83B3D3;
  color: #ffffff;
}

.modal-submit-button:hover {
  background-color: #68a2ca;
}

.modal-submit-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.modal-submit-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.inner-header {
  color: #ffffff;
  background-image: url(../img/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #83B3D3;
  padding: 35px 70px 72px 70px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  position: relative;
  list-style-type: none;
  margin: -7px 0 45px 3px;
  padding: 0;
  display: flex;
}

.breadcrumbs-item:not(:last-of-type) {
  margin-right: 26px;
  align-self: center;
}

.breadcrumbs-item:last-of-type::before {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../img/bread.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 7px;
  left: 24px;
}

.breadcrumbs-link {
  text-decoration: none;
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  min-width: 12px;
  min-height: 12px;
}

.breadcrumbs-link[href]:hover {
  opacity: 0.6;
}

.breadcrumbs-link[href]:focus {
  outline-color: #83B3D3;
  outline-offset: 5px;
}

.breadcrumbs-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #ffffff;
}

.catalog-filters {
  color: #ffffff;
  display: grid;
  grid-template-columns: min-content min-content auto min-content;
  margin: 0;
  gap: 55px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.catalog-filters-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.catalog-filters-item:not(:last-of-type) {
  margin-bottom: 13px;
}

.catalog-filters-infrastructure {
  width: 162px;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filters-house-type {
  width: 145px;
  padding: 0;
  margin: 0;
  border: none;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding-left: 40px;
}

.control {
  cursor: pointer;
  position: relative;
  display: block;
}

.control-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-item-check:checked + .control-label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 6px;
  left: 6px;
  background-image: url(../img/mark.svg);
  background-repeat: no-repeat;
  background-size: auto;
}

.control-item-check:hover + .control-label::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-item-check:focus + .control-label::before {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3
}

.control-item-check:active + .control-label::before {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.control-item-radio + .control-label::before {
  border-radius: 50%;
}

.control-item-radio:checked + .control-label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 5px solid transparent;
  background-color: #3f5e72;
  background-clip: content-box;
  top: 0;
  left: 2px;
  border-radius: 50%;
}

.control-item-radio:checked:focus + .control-label::before {
  outline: 3px solid #83B3D3;
}

.control-item-radio:active + .control-label::before {
  outline: none;
}

.catalog-filters-price {
  padding: 0;
  margin: 0;
  margin-left: 113px;
  justify-self: start;
  border: none;
}

.range-wrapper-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 28px;
  margin-top: 5px;
  position: relative;
}

.range-wrapper-inputs::before {
  content: "";
  position: absolute;
  height: 47px;
  left: 50%;
  margin-left: -1px;
  border: 1px solid #ffffff;
}

.catalog-filters-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  display: grid;
  grid-template-columns: 44px 1fr;
  color: rgba(255, 255, 255, 0.3);
  height: 45px;
  padding-left: 15px;
  align-self: center;
}

.catalog-filters-label:first-of-type {
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
  border-right: none;
  margin-right: 1px;
}

.catalog-filters-label:last-of-type {
  padding-left: 13px;
  border: 2px solid #ffffff;
  border-radius: 0 4px 4px 0;
  border-left: none;
  margin-left: 1px;
}

.catalog-filters-input {
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #ffffff;
  appearance: textfield;
}

.catalog-filters-input::-webkit-outer-spin-button, .catalog-filters-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

 .catalog-filters-label:hover, .range-wrapper-inputs:hover::before {
  border-color: rgba(255, 255, 255, 0.6);
}

.catalog-filters-label:focus-within {
  box-shadow: 0 0 0 3px #68a2ca, inset 0 0 0 3px #68a2ca;
}

.catalog-filters-label:not(:placeholder-shown):focus-within {
  outline: none;
  background-color: #756257;
  box-shadow: none;
}

.range-title {
  align-self: center;
  padding-left: 50px;
}

.range-scale {
  position: relative;
  height: 4px;
  width: 287px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.filters-buttons {
  width: 160px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 10px;
  padding: 15px 17px;
  background-color: #83B3D3;
}

.submit-button:hover {
  background-color: #68a2ca;
}

.submit-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #ffffff;
}

.submit-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.clear-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: initial;
  color: #ffffff;
  align-self: center;
  text-transform: none;
}

.clear-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.clear-button:focus {
  outline: 3px solid #68a2ca;
  outline-offset: -5px;
}

.clear-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-header {
  display: grid;
  grid-template-columns: max-content auto max-content;
  margin: 0;
  margin-bottom: 45px;
  align-items: center;
}

.catalog-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
}

.select-sorting-type {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: end;
  width: 287px;
  margin-right: 80px;
}

.catalog-sorting-type {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
  color: #333333;
  width: 100%;
  padding: 10px 17px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  appearance: none;
  background-image: url(../img/sorting-mark.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  user-select: none;
}

.catalog-sorting-type:hover {
  border-color: #83B3D3;
}

.catalog-sorting-type:focus {
  outline: none;
  border-color: #83B3D3;
}

.catalog-sorting-type:active {
  border-color: #E6E6E6;
  color: #E6E6E6;
}

.catalog-sorting-view {
  list-style-type: none;
  margin: 0;
  margin-right: 2px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 215px;
}

.catalog-view-item:not(:nth-of-type(3n)) {
  margin-right: 8px;
}

.catalog-view-item {
  margin-bottom: 8px;
}

.catalog-view-button {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-top: 4px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.view-cards {
  background-image: url(../img/mode-cards.svg);
}

.view-slides {
  background-image: url(../img/mode-slides.svg);
}

.view-list {
  background-image: url(../img/mode-list.svg);
}

.view-item-selected .catalog-view-button {
  border-color: #000000;
}

.catalog-view-button[href]:hover {
  border-color: #83B3D3;
}

.catalog-view-button[href]:focus {
  outline: none;
  border-color: #83B3D3;
}

.catalog-view-button:active {
  outline: none;
  border-color: #000000;
}

.view-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.catalog-items {
  margin: 0;
  padding: 0 70px;
}

.product-list {
  margin: 0;
  margin-bottom: 63px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 18px;
}

.product-item {
  display: grid;
  width: 300px;
  grid-template-columns: 1fr 26px 140px;
  grid-template-rows: repeat(4, min-content);
  gap: 16px 0;
  padding: 20px;
}

.product-link {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.product-card-head  {
  margin: 0;
  padding: 0;
  order: 2;
}

.product-card-image {
  order: 1;
  margin-bottom: 17px;
}

.product-link:hover .product-card-image {
  opacity: 0.6;
}

.product-link:focus {
  outline: none;
}

.product-link:focus .product-card-image {
  outline: 3px solid #83B3D3;
}

.product-card-image:active {
  outline: none;
  opacity: 0.3;
}

.hotel-class {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-price {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;

}

.button-more {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  background-color: #756257;
}

.button-more:hover {
  background-color: #615048;
}

.button-more:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.button-more:active {
  outline: none;
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  background-color: #83B3D3;
}

.button-favorites:hover {
  background-color: #68a2ca;
}

.button-favorites:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.button-favorites:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites-selected {
  background-color: #7DB54F;
}

.button-favorites-selected:hover {
  background-color: #6c9e42;
}

.button-favorites-selected:focus {
  background-color: #6c9e42;
}

.button-favorites-selected:active {
  background-color: #6c9e42;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-star {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  width: 24px;
  min-height: 24px;
  margin: 0;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 24px 17px;
}

.two-stars {
  width: 48px;
}

.three-stars {
  width: 72px;
}

.four-stars {
  width: 96px;
}

.five-stars {
  width: 120px;
}

.hotel-rate {
  display: inline-block;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 15px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  justify-self: end;
  padding: 7px 32px;
  background-color: #F2F2F2;
}

.product-card-head {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
}

.product-card-image {
  display: block;
}

.product-list-show-more {
  font-family: inherit;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 17px 238px;
  margin: 0 auto;
  margin-bottom: 60px;
  background-color: #83B3D3;
}

.product-list-show-more:hover {
  background-color: #68a2ca;
}

.product-list-show-more:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.product-list-show-more:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
}

.pagination-list {
  display: grid;
  grid-template-columns: repeat(6, 55px);
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  display: flex;
  width: 55px;
  height: 55px;
  color: #ffffff;
  background-color: #83B3D3;
  border-radius: 4px;
}

.pagination-link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 14px 22px;
  box-sizing: border-box;
  border-radius: 4px;
}

.pagination-item:last-child .pagination-link {
  padding: 14px 16px;
}

.pagination-item:nth-child(5) .pagination-link {
  padding: 14px 20px;
}

.pagination-link[href]:hover {
  background-color: #68a2ca;
}

.pagination-link[href]:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.pagination-link:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.quantity-select-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  margin-right: 50px;
}

.product-card-select {
  position: relative;
  display: flex;
  align-items: center;
  width: 386px;
}

.product-card-quantity {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  cursor: pointer;
  width: 160px;
  height: 48px;
  padding: 10px 16px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  appearance: none;
  background-image: url(../img/sorting-mark.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
  user-select: none;
}

.product-card-quantity:hover {
  border-color: #83B3D3;
}

.product-card-quantity:focus {
  outline: none;
  border-color: #83B3D3;
}

.product-card-quantity:active {
  border-color: #E6E6E6;
  color: #E6E6E6;
}

.subscribe-title-different {
  color:#000000;
  margin-bottom: 46px;
}

.subscribe-description-different {
  color: #333333;
  margin: 0 0 45px 0;
}
